<section>
    <h1 class='libraryName'>New Book</h1>
    <form action="/Book/AddBook" method="post" class='flex' enctype="multipart/form-data">
        <label for="title" class="labelName">Title</label><br>
            <input type="text" id="title" name="title" value='<%= book.title %>'>
        <label for="authorName" class="labelName">Author's Name</label><br>
            <select name="authorName" id="authorName">
                <% authors.forEach(author=>{ %> 
                    <% if(author.id==book.authorName){ %>
                        <option selected value="<%= author.id %>"> <%= author.name %> </option>
                    <% }else{ %>
                        <option value="<%= author.id %>"> <%= author.name %> </option>
                    <% } %>
                <% }) %> 
            </select>
        <label for="publishDate" class="labelName">Publish Date</label><br>
            <input type="date" id="publishDate" name="publishDate" 
                value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
        <label for="pageCount" class="labelName">Page Count</label><br>
            <input type="number" id="pageCount" name="pageCount" value='<%= book.pageCount %>'>
        <label for="cover" class="labelName">Cover</label><br>
            <input type="file" id="cover" name="cover">
        <label for="description" class="labelName">Description</label><br>
            <textarea name="description" id="description" cols="30" rows="5"><%= book.description %></textarea>
        <div>
            <button type="button" class="button" ><a href="Home.html">Cancel</a></button>
            <button type="submit" class="button" >Add Book</button>
        </div>
    </form>
    <div class='nameList' >
        <h3>Books Added</h3>
        <ol>
            <li>John Doe</li>
            <li>Bob Williams</li>
        </ol>
    </div>
</section>